#header-container {
  background-color: rgba(95, 95, 97, 0.829);
  color: rgb(13, 134, 233);
  padding: 2px;
  top: 0;
  width: 100%;
  text-align: center;
}

#divider {
  background-color: black;
  border: 2px solid black;
  margin:0 auto;
}
