#homepage-container{
  margin: 20px auto;
  text-align: center;
  top: 0;
  bottom: 0;
  height: 100%;

}

h1{
  margin: 0 auto;
  bottom: 0;
}

#homepage-columns {
  display: flex;
  margin: 10px auto;
  height: 625px;

}

#left-navigation {
  border: solid red 2px;
  float: left;
  width:25%;
}

#rightColumn {
  border: solid red 2px;
  float: right;
  width:25%;
  height: 100%;

}

#body {
  border: solid orange 2px;
  margin: 0 auto;
  width: 50%;
  height: 100%;
}


/* Cards displayed */
#card-container {
  display: flex;
  grid-template: auto;
  margin: 0 auto;
  width: 80%;
  float: right;
  height: 100%;

}

#frontCard {
  width: 250px;
  height: 200px;
  border: 2px solid blue;
  margin: 0 auto;
}
