#homepage-container{
  margin: 15px auto;
  text-align: center;
  top: 10;
  bottom: 0;
  height: 100%;

}

h1{
  margin: 0 auto;
  bottom: 0;
}

#body {
  border: solid orange 2px;
  margin: 0 auto;
  width: 50%;
  height: 100%;
}


/* Cards displayed */
#front {
  border: 2px blue solid;
  width: 300px;
  height: 200px;
  overflow:unset;
  margin-top: 10px;
  padding: 5px;
  color: green;
}

#cards-container {
  display: inline-flex;
}

#topic {
  color: purple;
  font-family: 'Bungee Shade', cursive;
  font-size: 24px;
}

#card-question{
  margin-top: 15px;
  color: red;
}
