#footer-container {
  background-color: rgba(95, 95, 97, 0.829);
  background: url("../../colorfulclouds.png") no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding: 2px;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  border-top: 5px solid rgb(121, 31, 238);
  text-shadow: 1px 1px 5px hotpink, 0 0 2em blue, 0 0 0.3em blue;
  margin: 0 auto;
}
